.footer {
  background-color: #f7f5f2;
  color: rgb(113, 103, 103);
  text-align: center;
  padding: 1rem;
  padding-bottom: 3rem;
}

.footer p {
  font-size: 1.1rem;
}

@media screen and (max-width: 720px) {
  .footer {
    padding-bottom: 1rem;
  }
  .footer p {
    font-size: 0.9rem;
  }
}
